.stApp {
    background: linear-gradient(135deg, #08121d, #0f2027, #203a43);
}

.block-container {
    padding-top: 2rem;
}

.card {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(18px);
    padding: 25px;
    box-shadow: 0 0 25px rgba(0, 255, 255, .15);
}

.metric {
    font-size: 28px;
    font-weight: bold;
    color: #00FFD5;
}